*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
}

p, li
{
    font-family: 'Roboto';
    font-size: 20px;
    color: #333;
}

[class*="center-col-"]
{
    float: left;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

[class*="col-"]
{
    float: left;
    height: 100%;
    padding: 16px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.historical-portfolio-row::after {
  content: "";
  clear: both;
  display: table;
}

.col-2 {width: 17.5%; padding: 0 8px;}
.col-3 {width: 25%; padding: 0 24px 0 24px}
.col-4 {width: 33%;}
.col-6 {width: 50%}
.col-7 {width: 60%;}
.col-8 {width: 70%;}
.col-9 {width: 75%; padding: 0 16px 0 16px}
.col-10 {width: 80%; padding: 0 16px 0 16px}
.col-12 {width: 100%;}
.center-col-6 {width: 50%;}
.center-col-12, .center-col-12-nav {width: 100%;}
.wrapper {padding: 64px 10%}
            
.top-nav ul {
    list-style-type: none;
}

.top-nav li {
    padding: 8px 24px;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
}

.top-large-screen
{
    background-image: url(jakarta.webp);
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    box-shadow: inset 0 1px 1000px #000000;
}
    
.shade
{
    background: rgba(0,0,0, 0.65);
    width: 100%;
    height: 100%;
    padding: 128px 12.5%;
    font-family: 'Playfair Display', serif;
    color: rgba(255,255,255, 0.9);
}

.shade h1
{
    font-size: 41px;
    line-height: 64px;
    margin: 0;
    position: relative;
    font-weight: normal;
    animation: 1s moveUp forwards;
}  

.shade h2
{
    color: rgba(255, 255, 255, 0.9);
}

@keyframes moveUp
{
    from {opacity: 0; top: 8px}
    to {opacity: 1; top: 0px}
}

@keyframes moveRight
{
    from {opacity: 0; right: 8px}
    to {opacity: 1; right: 0px}
}

.shade p
{
    font-size: 25px;
    line-height: 41px;
    margin: 0;
    position: relative;
    animation: 1s moveUp forwards;
    color: inherit;
}

.opening-text
{
    text-align: center;
}

/* NAVIGATION */
nav {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

nav img {
    width: 250px
}

/* JUMBOTRON */
.jumbotron {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0, 0, 0, 0.4)), url(4.jpg);
    background-position: 0% 85%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 64px 10%;
}

.jumbotron h1 {
    color: white;
    font-family: 'Varela Round', sans-serif;
    font-size: 48px;
    line-height: 1.35
}

.jumbotron i {
    vertical-align: text-top;
    padding-right: 8px;
}

button {
    background: #ffab00;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    color: white;
    padding: 12px 16px;
    border: 0;
    border-radius: 5px;
}

h2 {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    color: #333;
}